<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.Bcl" version="1.1.10" targetFramework="portable45-net45+win8+wp8+wpa81" userInstalled="true" />
  <package id="Microsoft.Bcl.Build" version="1.0.14" targetFramework="portable45-net45+win8+wp8+wpa81" userInstalled="true" />
  <package id="Microsoft.Net.Http" version="2.2.29" targetFramework="portable45-net45+win8+wp8+wpa81" userInstalled="true" />
  <package id="psake" version="4.4.2" targetFramework="portable45-net45+win8+wp8+wpa81" userInstalled="true" />
  <package id="rda.SocketsForPCL" version="1.2.1" targetFramework="net45" userInstalled="true" />
  <package id="Serilog" version="1.5.8-pre06" targetFramework="portable45-net45+win8+wp8+wpa81" userInstalled="true" />
  <package id="System.Collections.Concurrent" version="4.0.10-beta-23019" targetFramework="net45" userInstalled="true" />
</packages>